@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Sofia+Sans:wght@200&display=swap");

.left-panel-container {
  width: 20%;
  min-height: 100vh;
  background-image: linear-gradient(180deg, #01142a 3%, #00387b 100%);
  z-index: 2;
}
.logo-section {
  display: flex;
  align-items: center;
  position: relative;
  left: -2px;
  padding-bottom: 30px;
  box-shadow: inset 0 -1px 0 rgba(243, 243, 243, 0.3);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.logo-section:after {
  content: "";
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 1px;
}
.logo-section img {
  position: relative;
  left: 3em;
  top: 1em;
  width: 30%;
}
.logo-section span {
  position: relative;
  left: 1em;
  top: 0.3em;
  font-size: 50px;
}
.right-panel-container {
  /* position: relative; */
  /* position: fixed;
    left:20%; */
  width: 100%;
  min-height: 100vh;
  background-color: #01142a;
  z-index: -1;
  color: #f3f3f3;
  font-size: large;
  font-family: "PT Sans", sans-serif;
}
/* welcome note stylings */
.welcome-note-section {
  margin-top: calc(100vh - 41em);
  margin-left: calc(100vw - 40em);
  min-width: calc(100% - 30px);
  width: 100%;
  display: flex;
  align-items: center;
  text-align: baseline;
  scale: 0.35;
}

.welcome-note-section img {
  margin-left: 60px;
}

.welcome-note-section span {
  white-space: nowrap;
}

/* button stylings */

/* add new btn not selected state effect */
.new-note-btn {
  font-family: "Sofia Sans", sans-serif;
  position: absolute;
  display: flex;
  left: 36.5%;
  top: 14em;
  min-width: 10em;
  align-items: center;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  box-sizing: border-box;
  color: #f3f3f3;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: background-color 0.3s cubic-bezier(0.47, 0, 0.745, 0.715),
    box-shadow 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
}

/* new note btn hover effect */
.new-note-btn:hover,
.new-note-btn:focus {
  font-family: "Sofia Sans", sans-serif;
  position: absolute;
  display: flex;
  left: 36.5%;
  top: 14em;
  min-width: 10em;
  align-items: center;
  background-color: #01142a;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: transparent 0 0 0 1px, rgba(0, 132, 255, 0.9) -4px 0px 9.8px;
  box-sizing: border-box;
  color: rgb(0, 132, 255);
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* Effect after pressed the new note btn */
.new-note-btn.clicked {
  font-family: "Sofia Sans", sans-serif;
  position: absolute;
  display: flex;
  left: 36.5%;
  top: 14em;
  min-width: 10em;
  align-items: center;
  background-color: #01142a;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: transparent 0 0 0 1px, rgba(0, 132, 255, 0.9) -5px 0px 9.8px;
  box-sizing: border-box;
  color: rgb(0, 132, 255);
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  border: 0;
}

/* my notes btn not selected state effect */
.my-notes-btn {
  font-family: "Sofia Sans", sans-serif;
  position: absolute;
  display: flex;
  left: 36.5%;
  top: 19em;
  min-width: 10em;
  align-items: center;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  box-sizing: border-box;
  color: #f3f3f3;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: background-color 0.3s cubic-bezier(0.47, 0, 0.745, 0.715),
    box-shadow 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
}

/* my notes btn hover effect */
.my-notes-btn:hover,
.my-notes-btn:focus {
  font-family: "Sofia Sans", sans-serif;
  position: absolute;
  display: flex;
  left: 36.5%;
  top: 19em;
  min-width: 10em;
  align-items: center;
  background-color: #01142a;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: transparent 0 0 0 1px, rgba(0, 132, 255, 0.9) -4px 0px 9.8px;
  box-sizing: border-box;
  color: rgb(0, 132, 255);
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* Effect after pressed the new note btn */
.my-notes-btn.clicked {
  font-family: "Sofia Sans", sans-serif;
  position: absolute;
  display: flex;
  left: 36.5%;
  top: 19em;
  min-width: 10em;
  align-items: center;
  background-color: #01142a;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: transparent 0 0 0 1px, rgba(0, 132, 255, 0.9) -5px 0px 9.8px;
  box-sizing: border-box;
  color: rgb(0, 132, 255);
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  border: 0;
}
/* screen responsible */
@media only screen and (max-width: 368px) {
  .logo-section {
    display: flex;
    align-items: center;
    /* position: relative;
        top: 2em; */
    /* left: 1em; */
  }
  .logo-section img {
    display: flex;
    align-items: center;
    position: relative;
    left: 0.3em;
    top: 1em;
    width: 30%;
  }
  .logo-section span {
    position: relative;
    left: 0.4em;
    top: 1.8em;
    font-size: 10px;
  }
  /* welcome note stylings */
  .welcome-note-section {
    position: absolute;
    margin-top: 10px;
    margin-left: 11em;
    min-width: calc(100% - 30px);
    width: 100%;
    display: flex;
    align-items: center;
    text-align: baseline;
    scale: 0.8;
  }

  .welcome-note-section img {
    margin-left: 10px;
  }

  .welcome-note-section span {
    white-space: nowrap;
  }

  /* new note btn */

  /* before hover */
  .new-note-btn {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: -66.5%;
    top: 6em;
    min-width: 10em;
    align-items: center;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-sizing: border-box;
    color: #f3f3f3;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: background-color 0.3s cubic-bezier(0.47, 0, 0.745, 0.715),
      box-shadow 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

    scale: 0.3;
  }
  /* hover */
  .new-note-btn:hover,
  .new-note-btn:focus {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: -66.5%;
    top: 6em;
    min-width: 10em;
    align-items: center;
    background-color: #01142a;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: transparent 0 0 0 1px, rgba(0, 132, 255, 0.9) -4px 0px 9.8px;
    box-sizing: border-box;
    color: rgb(0, 132, 255);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    scale: 0.3;
  }

  /* after click */
  .new-note-btn.clicked {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: -66.5%;
    top: 6em;
    min-width: 10em;
    align-items: center;
    background-color: #01142a;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: transparent 0 0 0 1px, rgba(0, 132, 255, 0.9) -5px 0px 9.8px;
    box-sizing: border-box;
    color: rgb(0, 132, 255);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    border: 0;

    scale: 0.3;
  }

  /* my notes btn */

  /* before hover */
  .my-notes-btn {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: -66.5%;
    top: 8em;
    min-width: 10em;
    align-items: center;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-sizing: border-box;
    color: #f3f3f3;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: background-color 0.3s cubic-bezier(0.47, 0, 0.745, 0.715),
      box-shadow 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

    scale: 0.3;
  }
  /* hover */
  .my-notes-btn:hover,
  .my-notes-btn:focus {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: -66.5%;
    top: 8em;
    min-width: 10em;
    align-items: center;
    background-color: #01142a;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: transparent 0 0 0 1px, rgba(0, 132, 255, 0.9) -4px 0px 9.8px;
    box-sizing: border-box;
    color: rgb(0, 132, 255);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    scale: 0.3;
  }

  /* after click */
  .my-notes-btn.clicked {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: -66.5%;
    top: 8em;
    min-width: 10em;
    align-items: center;
    background-color: #01142a;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: transparent 0 0 0 1px, rgba(0, 132, 255, 0.9) -5px 0px 9.8px;
    box-sizing: border-box;
    color: rgb(0, 132, 255);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    border: 0;

    scale: 0.3;
  }
}
@media only screen and (min-width: 368px) and (max-width: 491px) {
  .logo-section {
    display: flex;
    align-items: center;
    /* position: relative;
        top: 2em; */
    /* left: 1em; */
  }
  .logo-section img {
    position: relative;
    left: 0.3em;
    top: 1em;
    width: 30px;
  }
  .logo-section span {
    position: relative;
    left: 0.1em;
    top: 0.9em;
    font-size: 18px;
  }
  /* welcome note stylings */
  .welcome-note-section {
    position: absolute;
    margin-top: 10px;
    margin-left: 11em;
    min-width: calc(100% - 30px);
    width: 100%;
    display: flex;
    align-items: center;
    text-align: baseline;
    scale: 0.7;
  }

  .welcome-note-section img {
    margin-left: 10px;
  }

  .welcome-note-section span {
    white-space: nowrap;
  }
  /* new note btn */

  /* before hover */
  .new-note-btn {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: -56%;
    top: 6em;
    min-width: 10em;
    align-items: center;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-sizing: border-box;
    color: #f3f3f3;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: background-color 0.3s cubic-bezier(0.47, 0, 0.745, 0.715),
      box-shadow 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

    scale: 0.3;
  }
  /* hover */
  .new-note-btn:hover,
  .new-note-btn:focus {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: -56%;
    top: 6em;
    min-width: 10em;
    align-items: center;
    background-color: #01142a;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: transparent 0 0 0 1px, rgba(0, 132, 255, 0.9) -4px 0px 9.8px;
    box-sizing: border-box;
    color: rgb(0, 132, 255);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    scale: 0.3;
  }

  /* after click */
  .new-note-btn.clicked {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: -56%;
    top: 6em;
    min-width: 10em;
    align-items: center;
    background-color: #01142a;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: transparent 0 0 0 1px, rgba(0, 132, 255, 0.9) -5px 0px 9.8px;
    box-sizing: border-box;
    color: rgb(0, 132, 255);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    border: 0;

    scale: 0.3;
  }

  /* my notes btn */

  /* before hover */
  .my-notes-btn {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: -56%;
    top: 8em;
    min-width: 10em;
    align-items: center;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-sizing: border-box;
    color: #f3f3f3;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: background-color 0.3s cubic-bezier(0.47, 0, 0.745, 0.715),
      box-shadow 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

    scale: 0.3;
  }
  /* hover */
  .my-notes-btn:hover,
  .my-notes-btn:focus {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: -56%;
    top: 8em;
    min-width: 10em;
    align-items: center;
    background-color: #01142a;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: transparent 0 0 0 1px, rgba(0, 132, 255, 0.9) -4px 0px 9.8px;
    box-sizing: border-box;
    color: rgb(0, 132, 255);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    scale: 0.3;
  }

  /* after click */
  .my-notes-btn.clicked {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: -56%;
    top: 8em;
    min-width: 10em;
    align-items: center;
    background-color: #01142a;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: transparent 0 0 0 1px, rgba(0, 132, 255, 0.9) -5px 0px 9.8px;
    box-sizing: border-box;
    color: rgb(0, 132, 255);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    border: 0;

    scale: 0.3;
  }
}

@media only screen and (min-width: 491px) and (max-width: 675px) {
  .logo-section {
    display: flex;
    align-items: center;
  }
  .logo-section img {
    position: relative;
    left: 0.3em;
    top: 1em;
    width: 40px;
  }
  .logo-section span {
    position: relative;
    left: 0.1em;
    top: 0.8em;
    font-size: 24px;
  }
  /* welcome note stylings */
  .welcome-note-section {
    position: absolute;
    margin-top: 10px;
    margin-left: 15em;
    min-width: calc(100% - 30px);
    width: 100%;
    display: flex;
    align-items: center;
    text-align: baseline;
    scale: 0.5;
  }

  .welcome-note-section img {
    margin-left: 10px;
  }

  .welcome-note-section span {
    white-space: nowrap;
  }
  /* new note btn */

  /* before hover */
  .new-note-btn {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: -25%;
    top: 6em;
    min-width: 10em;
    align-items: center;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-sizing: border-box;
    color: #f3f3f3;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: background-color 0.3s cubic-bezier(0.47, 0, 0.745, 0.715),
      box-shadow 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

    scale: 0.35;
  }
  /* hover */
  .new-note-btn:hover,
  .new-note-btn:focus {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: -25%;
    top: 6em;
    min-width: 10em;
    align-items: center;
    background-color: #01142a;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: transparent 0 0 0 1px, rgba(0, 132, 255, 0.9) -4px 0px 9.8px;
    box-sizing: border-box;
    color: rgb(0, 132, 255);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    scale: 0.35;
  }

  /* after click */
  .new-note-btn.clicked {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: -25%;
    top: 6em;
    min-width: 10em;
    align-items: center;
    background-color: #01142a;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: transparent 0 0 0 1px, rgba(0, 132, 255, 0.9) -5px 0px 9.8px;
    box-sizing: border-box;
    color: rgb(0, 132, 255);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    border: 0;

    scale: 0.35;
  }

  /* my notes btn */

  /* before hover */
  .my-notes-btn {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: -25%;
    top: 8em;
    min-width: 10em;
    align-items: center;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-sizing: border-box;
    color: #f3f3f3;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: background-color 0.3s cubic-bezier(0.47, 0, 0.745, 0.715),
      box-shadow 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

    scale: 0.35;
  }
  /* hover */
  .my-notes-btn:hover,
  .my-notes-btn:focus {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: -25%;
    top: 8em;
    min-width: 10em;
    align-items: center;
    background-color: #01142a;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: transparent 0 0 0 1px, rgba(0, 132, 255, 0.9) -4px 0px 9.8px;
    box-sizing: border-box;
    color: rgb(0, 132, 255);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    scale: 0.35;
  }

  /* after click */
  .my-notes-btn.clicked {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: -25%;
    top: 8em;
    min-width: 10em;
    align-items: center;
    background-color: #01142a;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: transparent 0 0 0 1px, rgba(0, 132, 255, 0.9) -5px 0px 9.8px;
    box-sizing: border-box;
    color: rgb(0, 132, 255);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    border: 0;

    scale: 0.35;
  }
}

/* Tablets */
@media only screen and (min-width: 676px) and (max-width: 990px) {
  .logo-section {
    display: flex;
    align-items: center;
    /* position: relative;
        top: 2em; */
    /* left: 1em; */
  }
  .logo-section img {
    display: flex;
    align-items: center;
    position: relative;
    left: 0.3em;
    top: 1em;
    width: 60px;
  }
  .logo-section span {
    position: relative;
    left: 0.01em;
    top: 0.4em;
    font-size: 35px;
  }

  /* welcome note stylings */
  .welcome-note-section {
    position: absolute;
    margin-top: 30px;
    margin-left: 27em;
    min-width: calc(100% - 30px);
    width: 100%;
    display: flex;
    align-items: center;
    text-align: baseline;
    scale: 0.45;
  }

  .welcome-note-section img {
    margin-left: 30px;
  }

  .welcome-note-section span {
    white-space: nowrap;
  }

  /* new note btn */

  /* before hover */
  .new-note-btn {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: 1%;
    top: 12em;
    min-width: 10em;
    align-items: center;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-sizing: border-box;
    color: #f3f3f3;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: background-color 0.3s cubic-bezier(0.47, 0, 0.745, 0.715),
      box-shadow 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

    scale: 0.6;
  }
  /* hover */
  .new-note-btn:hover,
  .new-note-btn:focus {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: 1%;
    top: 12em;
    min-width: 10em;
    align-items: center;
    background-color: #01142a;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: transparent 0 0 0 1px, rgba(0, 132, 255, 0.9) -4px 0px 9.8px;
    box-sizing: border-box;
    color: rgb(0, 132, 255);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    scale: 0.6;
  }

  /* after click */
  .new-note-btn.clicked {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: 1%;
    top: 12em;
    min-width: 10em;
    align-items: center;
    background-color: #01142a;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: transparent 0 0 0 1px, rgba(0, 132, 255, 0.9) -5px 0px 9.8px;
    box-sizing: border-box;
    color: rgb(0, 132, 255);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    border: 0;

    scale: 0.6;
  }

  /* my notes btn */

  /* before hover */
  .my-notes-btn {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: 1%;
    top: 16em;
    min-width: 10em;
    align-items: center;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-sizing: border-box;
    color: #f3f3f3;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: background-color 0.3s cubic-bezier(0.47, 0, 0.745, 0.715),
      box-shadow 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

    scale: 0.6;
  }
  /* hover */
  .my-notes-btn:hover,
  .my-notes-btn:focus {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: 1%;
    top: 16em;
    min-width: 10em;
    align-items: center;
    background-color: #01142a;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: transparent 0 0 0 1px, rgba(0, 132, 255, 0.9) -4px 0px 9.8px;
    box-sizing: border-box;
    color: rgb(0, 132, 255);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    scale: 0.6;
  }

  /* after click */
  .my-notes-btn.clicked {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: 1%;
    top: 16em;
    min-width: 10em;
    align-items: center;
    background-color: #01142a;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: transparent 0 0 0 1px, rgba(0, 132, 255, 0.9) -5px 0px 9.8px;
    box-sizing: border-box;
    color: rgb(0, 132, 255);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    border: 0;

    scale: 0.6;
  }
}
@media only screen and (min-width: 990px) and (max-width: 1048px) {
  .logo-section {
    display: flex;
    align-items: center;
    position: relative;
    /* top: 2em;  */
    left: 0.5em;
  }
  .logo-section img {
    display: flex;
    align-items: center;
    position: relative;
    left: 0.3em;
    top: 1em;
    width: 60px;
  }
  .logo-section span {
    position: relative;
    left: 0.01em;
    top: 0.4em;
    font-size: 39px;
  }
  /* welcome note stylings */
  .welcome-note-section {
    position: absolute;
    margin-top: 30px;
    margin-left: 32em;
    min-width: calc(100% - 30px);
    width: 100%;
    display: flex;
    align-items: center;
    text-align: baseline;
    scale: 0.6;
  }

  .welcome-note-section img {
    margin-left: 40px;
  }

  .welcome-note-section span {
    white-space: nowrap;
  }
  /* new note btn */

  /* before hover */
  .new-note-btn {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: 11%;
    top: 12em;
    min-width: 10em;
    align-items: center;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-sizing: border-box;
    color: #f3f3f3;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: background-color 0.3s cubic-bezier(0.47, 0, 0.745, 0.715),
      box-shadow 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

    scale: 0.8;
  }
  /* hover */
  .new-note-btn:hover,
  .new-note-btn:focus {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: 11%;
    top: 12em;
    min-width: 10em;
    align-items: center;
    background-color: #01142a;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: transparent 0 0 0 1px, rgba(0, 132, 255, 0.9) -4px 0px 9.8px;
    box-sizing: border-box;
    color: rgb(0, 132, 255);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    scale: 0.8;
  }

  /* after click */
  .new-note-btn.clicked {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: 11%;
    top: 12em;
    min-width: 10em;
    align-items: center;
    background-color: #01142a;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: transparent 0 0 0 1px, rgba(0, 132, 255, 0.9) -5px 0px 9.8px;
    box-sizing: border-box;
    color: rgb(0, 132, 255);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    border: 0;

    scale: 0.8;
  }

  /* my notes btn */

  /* before hover */
  .my-notes-btn {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: 11%;
    top: 16em;
    min-width: 10em;
    align-items: center;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-sizing: border-box;
    color: #f3f3f3;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: background-color 0.3s cubic-bezier(0.47, 0, 0.745, 0.715),
      box-shadow 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

    scale: 0.8;
  }
  /* hover */
  .my-notes-btn:hover,
  .my-notes-btn:focus {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: 11%;
    top: 16em;
    min-width: 10em;
    align-items: center;
    background-color: #01142a;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: transparent 0 0 0 1px, rgba(0, 132, 255, 0.9) -4px 0px 9.8px;
    box-sizing: border-box;
    color: rgb(0, 132, 255);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    scale: 0.8;
  }

  /* after click */
  .my-notes-btn.clicked {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: 11%;
    top: 16em;
    min-width: 10em;
    align-items: center;
    background-color: #01142a;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: transparent 0 0 0 1px, rgba(0, 132, 255, 0.9) -5px 0px 9.8px;
    box-sizing: border-box;
    color: rgb(0, 132, 255);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    border: 0;

    scale: 0.8;
  }
}
@media only screen and (min-width: 1048px) and (max-width: 1375px) {
  .logo-section {
    display: flex;
    align-items: center;
    position: relative;
    /* top: 2em;  */
    left: 0.4em;
  }
  .logo-section img {
    display: flex;
    align-items: center;
    position: relative;
    left: 0.3em;
    top: 1em;
    width: 80px;
  }
  .logo-section span {
    position: relative;
    left: 0.01em;
    top: 0.4em;
    font-size: 45px;
  }
  /* welcome note stylings */
  .welcome-note-section {
    position: absolute;
    margin-top: 29px;
    margin-left: 37em;
    min-width: calc(100% - 30px);
    width: 100%;
    display: flex;
    align-items: center;
    text-align: baseline;
    scale: 0.6;
  }

  .welcome-note-section img {
    margin-left: 40px;
  }

  .welcome-note-section span {
    white-space: nowrap;
  }

  /* new note btn */

  /* before hover */
  .new-note-btn {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: 12%;
    top: 12em;
    min-width: 10em;
    align-items: center;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-sizing: border-box;
    color: #f3f3f3;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: background-color 0.3s cubic-bezier(0.47, 0, 0.745, 0.715),
      box-shadow 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

    scale: 0.9;
  }
  /* hover */
  .new-note-btn:hover,
  .new-note-btn:focus {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: 12%;
    top: 12em;
    min-width: 10em;
    align-items: center;
    background-color: #01142a;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: transparent 0 0 0 1px, rgba(0, 132, 255, 0.9) -4px 0px 9.8px;
    box-sizing: border-box;
    color: rgb(0, 132, 255);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    scale: 0.9;
  }

  /* after click */
  .new-note-btn.clicked {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: 12%;
    top: 12em;
    min-width: 10em;
    align-items: center;
    background-color: #01142a;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: transparent 0 0 0 1px, rgba(0, 132, 255, 0.9) -5px 0px 9.8px;
    box-sizing: border-box;
    color: rgb(0, 132, 255);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    border: 0;

    scale: 0.9;
  }

  /* my notes btn */

  /* before hover */
  .my-notes-btn {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: 12%;
    top: 17em;
    min-width: 10em;
    align-items: center;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-sizing: border-box;
    color: #f3f3f3;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: background-color 0.3s cubic-bezier(0.47, 0, 0.745, 0.715),
      box-shadow 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

    scale: 0.9;
  }
  /* hover */
  .my-notes-btn:hover,
  .my-notes-btn:focus {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: 12%;
    top: 17em;
    min-width: 10em;
    align-items: center;
    background-color: #01142a;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: transparent 0 0 0 1px, rgba(0, 132, 255, 0.9) -4px 0px 9.8px;
    box-sizing: border-box;
    color: rgb(0, 132, 255);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    scale: 0.9;
  }

  /* after click */
  .my-notes-btn.clicked {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: 12%;
    top: 17em;
    min-width: 10em;
    align-items: center;
    background-color: #01142a;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: transparent 0 0 0 1px, rgba(0, 132, 255, 0.9) -5px 0px 9.8px;
    box-sizing: border-box;
    color: rgb(0, 132, 255);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    border: 0;

    scale: 0.9;
  }
}

@media only screen and (min-width: 1279px) and (max-width: 1375px) {
  /* welcome note stylings */
  .welcome-note-section {
    position: absolute;
    margin-top: 30px;
    margin-left: 47em;
    min-width: calc(100% - 30px);
    width: 100%;
    display: flex;
    align-items: center;
    text-align: baseline;
    scale: 0.5;
  }

  .welcome-note-section img {
    margin-left: 40px;
  }

  .welcome-note-section span {
    white-space: nowrap;
  }
  /* new note btn */

  /* before hover */
  .new-note-btn {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: 22%;
    top: 12em;
    min-width: 10em;
    align-items: center;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-sizing: border-box;
    color: #f3f3f3;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: background-color 0.3s cubic-bezier(0.47, 0, 0.745, 0.715),
      box-shadow 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

    scale: 1;
  }
  /* hover */
  .new-note-btn:hover,
  .new-note-btn:focus {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: 22%;
    top: 12em;
    min-width: 10em;
    align-items: center;
    background-color: #01142a;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: transparent 0 0 0 1px, rgba(0, 132, 255, 0.9) -4px 0px 9.8px;
    box-sizing: border-box;
    color: rgb(0, 132, 255);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    scale: 1;
  }

  /* after click */
  .new-note-btn.clicked {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: 22%;
    top: 12em;
    min-width: 10em;
    align-items: center;
    background-color: #01142a;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: transparent 0 0 0 1px, rgba(0, 132, 255, 0.9) -5px 0px 9.8px;
    box-sizing: border-box;
    color: rgb(0, 132, 255);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    border: 0;

    scale: 1;
  }

  /* my notes btn */

  /* before hover */
  .my-notes-btn {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: 22%;
    top: 17em;
    min-width: 10em;
    align-items: center;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-sizing: border-box;
    color: #f3f3f3;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: background-color 0.3s cubic-bezier(0.47, 0, 0.745, 0.715),
      box-shadow 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

    scale: 1;
  }
  /* hover */
  .my-notes-btn:hover,
  .my-notes-btn:focus {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: 22%;
    top: 17em;
    min-width: 10em;
    align-items: center;
    background-color: #01142a;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: transparent 0 0 0 1px, rgba(0, 132, 255, 0.9) -4px 0px 9.8px;
    box-sizing: border-box;
    color: rgb(0, 132, 255);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    scale: 1;
  }

  /* after click */
  .my-notes-btn.clicked {
    font-family: "Sofia Sans", sans-serif;
    position: absolute;
    display: flex;
    left: 22%;
    top: 17em;
    min-width: 10em;
    align-items: center;
    background-color: #01142a;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: transparent 0 0 0 1px, rgba(0, 132, 255, 0.9) -5px 0px 9.8px;
    box-sizing: border-box;
    color: rgb(0, 132, 255);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    border: 0;

    scale: 1;
  }
}

@media only screen and (min-width: 1375px) {
  .logo-section {
    display: flex;
    align-items: center;
    /* position: relative; */
    /* top: 2em; */
    /* left: .5em; */
  }
  .logo-section img {
    display: flex;
    align-items: center;
    position: relative;
    left: 0.3em;
    top: 1em;
    width: 40%;
  }
  .logo-section span {
    position: relative;
    left: 0.01em;
    top: 0.4em;
    font-size: 59px;
  }
}
