.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 6;
  background-color: aqua;
  height: 100px;
}
.div2 {
  grid-area: 2 / 1 / 6 / 5;
  background-color: rgb(111, 172, 172);
  height: 100px;
}
.div3 {
  grid-area: 2 / 5 / 6 / 6;
  background-color: rgb(136, 136, 136);
  height: 100px;
}
